## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
import gmaps.datasets


# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)
data = gmaps.datasets.load_dataset

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Kapaa,US,80.60,moderate rain,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
1,7,Bengkulu,ID,76.14,overcast clouds,-3.80,102.27,Grage Hotel Bengkulu
2,9,Madimba,TZ,78.80,few clouds,-10.40,40.33,NaN
3,13,Yarada,IN,80.60,mist,17.65,83.27,"D-26/2, Dolphin Hill,"
4,22,Port Blair,IN,81.03,light rain,11.67,92.75,Fortune Resort Bay Island

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Description</dt><dd{Current Description}</dt>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Morehead"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Morehead"]                                      
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Avera"] 
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Callaway"]  
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Radcliff"]  
vacation_end

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
188,632,Morehead,US,78.8,clear sky,37.27,-87.18,CCI Express Inn

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()[0][0],vacation_start[["Lat", "Lng"]].to_numpy()[0][1]
end = vacation_end[["Lat", "Lng"]].to_numpy()[0][0],vacation_end[["Lat", "Lng"]].to_numpy()[0][1]
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()[0][0],vacation_stop1[["Lat", "Lng"]].to_numpy()[0][1]
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()[0][0],vacation_stop2[["Lat", "Lng"]].to_numpy()[0][1]
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()[0][0],vacation_stop3[["Lat", "Lng"]].to_numpy()[0][1]
stop1

(33.19, -82.53)

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
Morehead = (37.27, -87.18)
Avera = (33.19, -82.53)
Callaway = (30.15, -85.57)
Radcliff = (37.84, -85.95)
Morehead = (37.27, -87.18)

fig = gmaps.figure()
Morehead2Morehead = gmaps.directions_layer(Morehead, Morehead)
# fig.add_layer(Morehead2Morehead)
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
Morehead2Morehead_via_stops = gmaps.directions_layer(
        Morehead, Morehead, waypoints=[Avera, Callaway, Radcliff], 
        travel_mode="DRIVING")
fig.add_layer(Morehead2Morehead_via_stops)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,632,Morehead,US,78.8,clear sky,37.27,-87.18,CCI Express Inn
1,154,Avera,US,80.6,broken clouds,33.19,-82.53,NaN
2,658,Callaway,US,82.4,broken clouds,30.15,-85.57,Holiday Inn Express & Suites Panama City-Tyndall
3,407,Radcliff,US,75.2,clear sky,37.84,-85.95,Super 8 by Wyndham Radcliff Ft. Knox Area

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Description</dt><dd{Current Description}</dt>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))